.cart_icon{
  width: 50px;
  height: 50px;
  transition: color 0.5s;
}

.cart_icon:hover{
  cursor: pointer;
  color: #227dad;
}

.basket{
  max-height: 25rem;
  overflow: auto;
}

.basket_list {
  padding: 0;
  & > li {
    margin:  1rem 0;
  }
}

.basket_item {
  margin: 10px 20px;
  padding: 10px;
  border: #74c2ff 0.1px dashed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.basket_item_change_quantity {
  cursor: pointer;
  font-weight: bold;
}

.basket_item_delete {
  cursor: pointer;
}
