@import 'reset';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.content {
  min-height: calc(100vh - 82.4px - 2*50px);
  padding: 1.5rem 0;
}

button {
  color: #ffffff;
  font-weight: 400;
  background-color: #62dafb;
  padding: 0.2rem;
  border: none;
}

button:hover {
  background-color: #3fc6ff;
  cursor: pointer;
}