.card {
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid #b6b6b6;

  & > img {
    width: 100%;
  }
  & > .card_content {
    padding: 1rem;

    & > .card_title {
      text-align: center;
      font-size: 2rem;
      margin: 0;
    }

    & > .card_buy {
      display: flex;
      justify-content: space-between;
      margin: 1.5vh 2vh 1.5vh;
    }
  }
}