.alert{
  animation: fade-in 250ms ease-in-out;
  right: 2rem;
  bottom: 2rem;
  background-color: #d7d7d7;
  position: fixed;
  overflow: hidden;
  padding: 0.5rem;
}

@keyframes fade-in {
  from{
    opacity: 0;
    transform: translateY(2rem);
  }
  to{
    opacity: 1;
    transform: translateY(0rem);
  }
}